@font-face {
	font-family: 'GothamPro';
	src:url('../fonts/GothamPro/GothamPro.eot');
	src:url('../fonts/GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamPro/GothamPro.woff') format('woff'),
		url('../fonts/GothamPro/GothamPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
	
@font-face {
	font-family: 'GothamPro-Medium';
	src:url('../fonts/GothamProMedium/GothamPro-Medium.woff') format('woff');
	src:url('../fonts/GothamProMedium/GothamPro-Medium.eot'),
		url('../fonts/GothamProMedium/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamProMedium/GothamPro-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DSGreece';
	src:url('../fonts/DSGreece/DSGreece.woff') format('woff');
	src:url('../fonts/DSGreece/DSGreece.eot'),
		url('../fonts/DSGreece/DSGreece.eot?#iefix') format('embedded-opentype'),
		url('../fonts/DSGreece/DSGreece.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Romanica';
	src:url('../fonts/Romanica/Romanica.woff') format('woff');
	src:url('../fonts/Romanica/Romanica.eot'),
		url('../fonts/Romanica/Romanica.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Romanica/Romanica.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}