@import "./_fonts";

* {
	margin: 0; 
	font-family: Romanica, sans-serif; 
	color: #282727;
}
a { 
	cursor: pointer;
	text-decoration: none;
}
img { display: flex }


header {
	background: #282727;
	height: 80px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: sticky; 
	top: 0;
	z-index: 1;
	
	.menu {
		display: flex;
		
		.item {
			margin: 0 30px;
			font: 600 18px DSGreece, sans-serif;
			position: relative;
			
			a {
				color: #fff;
				line-height: 1.35;
				text-align: center;
				
				&:hover {
					color: #f08128;
				} 
			}
		}
	}
}

section.hero {
	background: #282727;
	
	.wrapper {
		max-width: 1400px;
		margin: 0 auto;
		positioN: relative;
		
		svg {
			display: block;
			max-height: 100vh;
			margin: 0 auto;
		}
		
		.request {
			position: absolute; 
			right: 120px;
			bottom: 150px;
			display: flex;
			align-items: center;
			
			.text {
				color: #fff;
				font: 400 42px GothamPro, sans-serif;
				line-height: 48px;
			}
			
			.button {
				width: 150px; height: 50px;
				color: white;
				font-weight: bold;
				cursor: pointer;
				background: #f08128;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 40px;
				
				&:hover {
					background: #eb5c1d;
				}
			}
		}
		
		
	}
}