section#accelerator {
	max-width: 1400px;
	margin: 0 auto;
	padding: 150px 0 0;
	display: flex;
	justify-content: space-between;
	
	h2 {
		font-size: 36px;
		margin-bottom: 20px;
	}
	
	h3 {
		font-size: 4vw;
		margin-bottom: 50px;
	}
	
	p {
		font-size: 20px;
		width: 75%;
	}
	
	.infobox {
		position: relative;
		top: -75px;
		right: -50px;
		width: 350px; 
		height: 100px;
		background: #fef7e0;
		padding: 30px 30px 20px;
		
		div {
			padding-bottom: 10px;
			display: flex;
			align-items: center;
			height: 25px;
			
			svg {
				margin-right: 10px;
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	section#accelerator {
		padding: 150px 50px 0;
	}
}

section#benefits {
	h2 { 
		font-size: 48px; 
		text-align: center;
		padding: 100px 0 50px;
	}
	
	.benefitsWrapper {
		max-width: 1400px;
		margin: 0 auto 50px;
		display: flex;
		flex-wrap: wrap;
		gap: 60px;
		justify-content: center;
		
		.benefit {
			width: 282px;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 24px;
			
			.title {
				margin-top: 32px;
				font-size: 20px;
				text-align: center;
				font-weight: bold;
				color: #f08128;
			}
			
			.desc {
				margin-top: 16px;
				text-align: center;
			}
		} 
	}
}

section#mentors {
	max-width: 1400px;
	margin: 0 auto;
	
	h2 { 
		font-size: 48px; 
		text-align: center;
		padding: 100px 0 50px;
	}
	
	.experts-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 60px;
		justify-content: center;
		
		.experts-box {
			width: 250px;
			
			&:hover {
				.experts-photo {
					.experts-overlay {
						opacity: 0.4;
					}
				}
				
				.experts-information {
					.experts-description {
						a {
							opacity: 1;
						}
					}
				}
			}
			
			.experts-photo {
				border-radius: 50%;
				overflow: hidden;
				position: relative;
				width: 250px; height: 250px;
				
				.experts-overlay {
					transition: all .4s ease-in-out;
					background: #f08128;
					opacity: 0;
					position: absolute;
					top: 0; left: 0;
					width: 250px; height: 250px;
				}  
			}
			
			.experts-information {
				transition: all .4s ease-in-out;
				
				.experts-name {
					font-size: 20px;
					font-weight: 700;
					line-height: 1.2;
					text-transform: uppercase;
					text-align: center;
					transition: all .5s ease-in-out;
					width: 100%;
					margin-top: 20px;
				}
				
				.experts-description {
					font-size: 16px;
					line-height: 1.2;
					transition: all .5s ease-in-out;
					margin: 0 auto;
					text-align: center;
					width: 80%;
					
					p {
						margin-bottom: 10px;
						color: #c5c5c5;
						font-style: italic;
					}
					
					a {
						opacity: 0;
						transition: all .4s ease-in-out;
					}
				}
			}
		}
	}
}

section#partners {
	max-width: 1400px;
	margin: 0 auto; 
	
	h2 { 
		font-size: 48px; 
		text-align: center;
		padding: 100px 0 50px;
	}
	
	.partners {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 100px;
	}
}


section#contact {
	max-width: 1000px;
	margin: 0 auto; 
	
	h2 { 
		font-size: 48px; 
		text-align: center;
		padding: 100px 0 50px;
	}
	
	form {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		justify-content: space-between;
		
		div {
			min-width: 320px;
			flex-basis: 50%;
			max-width: 455px;
			
			&.area {
				flex-basis: 100%; 
				max-width: none;
			}
			
			label {
				display: inline-block;
				margin-bottom: 10px;
			}
			
			input[type=text], input[type=email], input[type=tel], textarea {
				width: 100%;
				padding: 20px;
				box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
				border: 0px;
				font-size: 18px;
			}
			
		}
	}
}


.goTop {
	position: fixed;
	bottom: 30px;
	right: 20px;
	opacity: 0;
	-webkit-transition: opacity ease-in-out .2s;
	-o-transition: opacity ease-in-out .2s;
	transition: opacity ease-in-out .2s;
	cursor: pointer;
}